<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class=" main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="images/about.png" alt="Shantanu Raj" class="img-fluid" title="Shantanu Raj">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr">Full Stack Developer</span> Coder And Student</h1>
                        <a href="https://github.com/shantanuraj0" target="_shantanu"><button>About me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

   {{>footer}}

</body>

</html>